.own-message {
   display: flex;
   justify-content: end;
   margin-top: 30px;
}

.message-edit-section{
   display: flex;
   align-self: flex-end;
   position: relative;
}

.message-edit {
   cursor: pointer;
   margin-right: 10px;
   margin-top: 2px;
}

.message-delete {
   cursor: pointer;
}