.message-input {
   display: flex;
   align-items: center;
   justify-content: start;
   width: 100%;
   border-top: 3px solid rgb(0, 0, 0);
   padding: 20px;
}

.message-input-text {
   width: 80%;
   height: 50px;
   padding: 10px;
   margin-right: 10px;
   border-radius: 4px;
   font-size: 1.3rem;
}

.message-input-button {
   background-color: rgb(37, 144, 163);
   padding: 10px;
   font-weight: bold;
   font-size: 1.1rem;
   width: 120px;
   height: 50px;
   border-radius: 4px;
   transition: all 0.3s ease 0s;

}

.message-input-button:hover {
   background-color: rgb(6, 104, 124);
   color: rgb(255, 255, 255);
   transition: all 0.3s ease 0s;
}